h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.contact-hero-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #487996;
}

.hero-video {
  margin-bottom: 16px;
}

.hero-video__player {
  width: 100%;

  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* .hero-video__player[poster] {
  height: 90%;
} */

.contact-hero__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2b;
}

.contact-hero__text--icon {
  display: flex;
}

.contact-hero__text--icon::after {
  content: " ";
  display: inline-block;
  background: url(../images/contact-emoji/phone/emoji@2x.jpg),
    url(../images/contact-emoji/phone/emoji.jpg);
  background-size: cover;
  width: 22px;
  height: 22px;
  margin-left: 6px;
}

@media screen and (min-width: 768px) {
  .contact-hero-title {
    margin-bottom: 24px;
    font-size: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .contact-hero-title {
    font-size: 48px;
  }
}

/* BEM CLASS */

@media screen and (min-width: 768px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .contact-hero {
    display: flex;
    margin-bottom: 52px;
  }

  .hero-video {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .contact-hero__text:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .hero-video {
    margin-right: 32px;
    width: 515px;
  }

  .hero-video__player[poster] {
    background: url(../images/hero/desktop/hero@2x.jpg);
  }

  .contact-hero__description {
    width: 515px;
  }
}

/* IT WILL ALIGN ACCORDING TO CONTAINER */

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .contact-hero__text {
    font-size: 18px;
    margin-bottom: 24px;
  }

  /* .contact-hero__text:last-child {
    margin-bottom: 57px;
  } */

  .contact-hero__text--icon {
    display: flex;
    flex-direction: column;
  }

  .contact-hero__text--icon::after {
    margin-left: 0;
    margin-top: 57px;
  }
}

/* NO NEED TO CENTER IT ON MOBILE */
