h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .phone-fig-12 {
    position: absolute;
    height: 73.65px;
    width: 73.65px;
    left: -29px;
    top: 302.61px;
    background: grey;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 35px 0px;
    mix-blend-mode: hue;
  }

  .phone-fig-67 {
    position: absolute;
    height: 73.65px;
    width: 73.65px;
    top: 1359.84px;
    right: 0;
    background: grey;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 25px;
    mix-blend-mode: hue;
  }

  .phone-fig-68 {
    position: absolute;
    height: 60px;
    width: 73px;
    top: 990px;
    right: 0;
    background: grey;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 25px 25px;
    transform: rotate(90deg);
    mix-blend-mode: hue;
  }

  .phone-fig-63 {
    position: absolute;
    height: 73.65px;
    width: 50px;
    top: 500px;
    right: 0;
    background: grey;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0 0 72px;
    mix-blend-mode: hue;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .tablet-fig-5 {
    position: absolute;
    height: 73.65px;
    width: 73.65px;
    left: 8px;
    top: 302.61px;
    background: grey;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 35px;
    transform: rotate(-90deg);
    mix-blend-mode: hue;
  }

  .tablet-fig-68 {
    position: absolute;
    height: 73.65px;
    width: 73.65px;
    top: 1033.01px;
    left: 759.65px;
    background: grey;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0px;
    transform: rotate(90deg);
    mix-blend-mode: hue;
  }

  .tablet-fig-58 {
    position: absolute;
    height: 73.65px;
    width: 73.65px;
    left: 759.65px;
    top: 153.42px;
    background: grey;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 35px 0px 0px;
    transform: rotate(180deg);
    mix-blend-mode: hue;
  }
}

@media screen and (min-width: 1440px) {
  .desktop-fig-68 {
    position: absolute;
    width: 144px;
    height: 144px;
    left: 1340px;
    top: 1247px;
    background: grey;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px;
    mix-blend-mode: hue;
  }

  .desktop-fig-46 {
    position: absolute;
    width: 144px;
    height: 144px;
    left: -64px;
    top: 1077px;
    background: grey;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px;
    mix-blend-mode: hue;
  }

  .desktop-fig-60 {
    position: absolute;
    width: 144px;
    height: 144px;
    left: 1319px;
    top: 667px;
    background: grey;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0px;
    mix-blend-mode: hue;
  }

  .desktop-fig-61 {
    position: absolute;
    width: 144px;
    height: 144px;
    left: 1427px;
    top: 159px;
    background: grey;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 72px 0px;
    transform: rotate(90deg);
    mix-blend-mode: hue;
  }

  .desktop-fig-3 {
    position: absolute;
    width: 144px;
    height: 144px;
    left: 13px;
    top: 280px;
    background: grey;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 72px 0px;
    mix-blend-mode: hue;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-left: 189px;
    padding-right: 189px;
  }
}

.contact-hero-section {
  padding-top: 32px;
  padding-bottom: 52px;
}

.contact-form-section {
  padding-bottom: 52px;
}

.contact-contacts-section {
  padding-bottom: 76px;
}

@media screen and (min-width: 768px) {
  .contact-hero-section {
    padding-top: 44px;
  }

  .contact-form-section {
    padding-bottom: 76px;
  }
}

@media screen and (min-width: 1440px) {
  .contact-hero-section {
    padding-top: 24px;
    padding-bottom: 100px;
  }

  .contact-form-section {
    padding-bottom: 0;
    padding-top: 0;
  }

  .contact-contacts-section {
    padding-bottom: 0;
    padding-top: 0;
  }

  .hybrid-section-desktop {
    padding-bottom: 100px;
  }
}

.contact-hero-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #487996;
}

.hero-video {
  margin-bottom: 16px;
}

.hero-video__player {
  width: 100%;

  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-hero__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2b;
}

.contact-hero__text--icon {
  display: flex;
}

.contact-hero__text--icon::after {
  content: " ";
  display: inline-block;
  background: url(../images/contact-emoji/phone/emoji@2x.jpg);
  background-size: cover;
  width: 22px;
  height: 22px;
  margin-left: 6px;
}

@media screen and (min-width: 768px) {
  .contact-hero-title {
    margin-bottom: 24px;
    font-size: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .contact-hero-title {
    font-size: 48px;
  }
}

/* BEM CLASS */

@media screen and (min-width: 768px) {
  .contact-hero {
    display: flex;
    margin-bottom: 52px;
  }

  .hero-video {
    margin-right: 20px;
    margin-bottom: 0;
    max-width: 500px;
  }

  .contact-hero__text:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .hero-video {
    margin-right: 32px;
    width: 515px;
    max-width: 700px;
  }

  .contact-hero__description {
    width: 515px;
  }
}

@media screen and (min-width: 1440px) {
  .contact-hero__text {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .contact-hero__text--icon {
    display: flex;
    flex-direction: column;
  }

  .contact-hero__text--icon::after {
    margin-left: 0;
    margin-top: 45px;
    background: url(../images/contact-emoji/desktop/emoji.jpg);
    width: 49px;
    height: 49px;
  }
}

/* END HERO */

/* START SECTION WITH FORM */
.contact-heading {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #487996;
}

@media screen and (min-width: 768px) {
  .contact-heading {
    font-size: 24px;
  }

  .contact-heading-center {
    display: flex;
    justify-content: center;
    margin-bottom: 59px;
  }

  .contact-page-form {
    width: 420px;
    margin: 0 auto;
  }

  .contact-form-field {
    width: 100%;
  }
}

.contact-form-field {
  position: relative;
  min-width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 44px;
}

.contact-form-field:nth-child(2n + 1) {
  margin-bottom: 68px;
}

.contact-form-field__label {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 16px;
  font-weight: 400;
  color: #2b2b2b;
  transform: translateY(0);
  transition: 250ms linear;
}

.contact-form-field__input {
  width: 100%;
  border-bottom: 1px solid #487996;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 4px 2px;
}

.contact-form-field__input:focus {
  outline: none;
}

.contact-form-field__input:focus + .contact-form-field__label,
.contact-form-field__input:not(:placeholder-shown)
  + .contact-form-field__label {
  font-size: 14px;
  transform: translateY(-25px) translateX(2px);
}

.contact-form-field__textarea {
  padding-top: 22px;
  padding-left: 20px;
  width: 100%;
  height: 199px;
  border-radius: 50px 0px;
  border: 1px solid #487996;
  resize: none;
}

.contact-form-field__textarea:focus {
  outline: none;
}

.contact-form-field__textarea::placeholder {
  color: #cdcdcd;
}

.textarea-label {
  position: absolute;
  top: -23px;
  left: 2px;
}

.contact-form-field__file {
  position: absolute;
  left: 45%;
  bottom: 55px;
}

.contact-form-field:nth-child(3n + 1) {
  margin-bottom: 4px;
}

.contact-form-icon {
  position: absolute;
  top: -45px;
  right: 25px;
  fill: #cdcdcd;
}

.contact-form-field__label--grey:hover .contact-form-icon,
.contact-form-field__label--grey:focus .contact-form-icon {
  fill: #487996;
}

.contact-form-field__label--grey:hover,
.contact-form-field__label--grey:focus {
  color: #487996;
}

.contact-form-field__label--grey {
  color: #cdcdcd;
}

.contact-form-field:nth-child(4n + 1) {
  margin-bottom: 24px;
  height: 60px;
}

.contact-form-button {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 56px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  padding: 16px 83.5px;
  border-radius: 30.5px;
  color: #487996;
  background-color: #f5f5fa;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1),
    5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-color: transparent;
}

@media screen and (min-width: 768px) {
  .contact-form-button {
    display: flex;
    margin: 0;
    margin-left: auto;
  }

  .contact-form-field:nth-child(4n + 1) {
    margin-bottom: 44px;
    height: 40px;
  }

  .contact-list {
    display: flex;
    justify-content: space-between;
  }

  .contact-list-point-3 {
    text-align: right;
  }
}

.contact-list {
  padding: 0;
}

.contact-list__item {
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: #2b2b2b;
}

.contact-heading-geometry {
  margin-bottom: 8px;
}

.contact-heading__normal-case {
  text-transform: none;
}

.contact-list-point-1,
.contact-list-point-2 {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .contact-list-point-1,
  .contact-list-point-2 {
    margin-bottom: 0;
  }
}

.contact-list__item--inner-geometry {
  margin-bottom: 8px;
}

@media screen and (min-width: 1440px) {
  .hybrid-section-desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 189px;
    padding-right: 189px;
  }

  .container-hybrid {
    padding-left: 0;
    padding-right: 0;
  }

  .contact-list {
    flex-direction: column;
  }

  .contact-list__item {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.11;
  }
  .contact-list-point-1,
  .contact-list-point-2 {
    margin-bottom: 68px;
  }

  .contact-list-point-3 {
    text-align: left;
  }

  .contact-our-contacts,
  .contact-form-field {
    width: 515px;
  }

  .contact-page-form {
    width: 515px;
  }

  .desktop-break {
    display: none;
  }
}
